<h1>Cats#show</h1>
<p>Find me in app/views/cats/show.html.erb</p>
<h1><%= @cat.name %></h1>
<h4>"<%= @cat.motto %>"</h4>
<%= link_to 'Remove', @cat, method: :delete, data: { confirm: 'Are you sure?'} %>